$mainColor: #48A9F0;
$subColor: #FE6262;
$bgColor: #FFFFFF;
$textColor1: #333B46;
$textColor2: #999FAA;
$textColor3: #FFFFFF;
$inputBorderColor: #DEE3E5;
$tableBorderColor: #D4D9DC;
$tableHoverColor: #F2F3F4;
$buttonDefaultColor: #48A9F0;
$buttonHoverColor: #268AD4;
$buttonDisableColor: #BCD8F1;




